<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.agro_retailerapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_cooperation"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_cooperation"
        android:supportsRtl="true"
        android:theme="@style/Theme.Agro_RetailerApp"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Retailers.OrderListRetailerActivity"></activity>
        <activity android:name=".Admin.UserList.RetailerListActivity" />
        <activity android:name=".Admin.UserList.AgroListActivity" />
        <activity android:name=".Admin.Profile.EditProfileAdminActivity" />
        <activity android:name=".Admin.Profile.ProfileAdminActivity" />
        <activity android:name=".Retailers.Profile.EditProfileRetailerActivity" />
        <activity android:name=".Retailers.Profile.ProfileRetailerActivity" />
        <activity android:name=".AgroTeam.Products.ProductDescriptionActivity" />
        <activity android:name=".AgroTeam.Orders.OrderActivity" />
        <activity android:name=".AgroTeam.Products.AllProductsActivity" />
        <activity android:name=".AgroTeam.Products.AddProductActivity" />
        <activity android:name=".AgroTeam.Orders.OrderDetailsActivity" />
        <activity android:name=".AgroTeam.Orders.AgroOrderActivity" />
        <activity android:name=".AgroTeam.Crops.AluSonrokkhonActivity" />
        <activity android:name=".AgroTeam.Crops.MatirUrborotaActivity" />
        <activity android:name=".AgroTeam.Crops.BijerJotnoActivity" />
        <activity android:name=".AgroTeam.Crops.CropsActivity" />
        <activity android:name=".AgroTeam.ViewNoticeActivity" />
        <activity android:name=".AgroTeam.Profile.EditProfileAgroActivity" />
        <activity android:name=".AgroTeam.Profile.ProfileAgroActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".Retailers.RetailerMainActivity" />
        <activity android:name=".AgroTeam.AgroMainActivity" />
        <activity android:name=".Admin.AdminMainActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>